.how-to-body {
	/*/background: url(/images/index2.png) no-repeat center center;
	background-attachment: fixed;
	overflow: visible;
	height: 1000px;
	background-origin: 
	/* Set rules to fill background */
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	*/
}


body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Light", Helvetica, Roboto, Arial, sans-serif;
	background: url(/images/index2.png) no-repeat center center;
	background-attachment: fixed;
	overflow: visible;
	height: 1000px;
	background-origin: 
	/* Set rules to fill background */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
a{
	transition: color 0.25s;
}
a:hover{
	color:rgb(56, 62, 63);
}
body{
	background-color:#84CD90;
}
hr{
	border-color: #04715f;
	border-bottom-width: 1px;
}
h1{
	color:#243341;
}
h2{
	color:white;
}
ul{
	padding-left:20px;	
}
li{
	padding-top: 2px;
	padding-bottom: 2px;
}

p {
	color: white;
	font-size: 16px;
}

b {
	font-size: 20px;
	color: orange;
}

.switchboard {
	color: orange;
	font-size: 24px;g
}

.test-background {
	background-color: rgba(110, 136, 131, 0.51);
}