.how-to-body {
	/*/background: url(/images/index2.png) no-repeat center center;
	background-attachment: fixed;
	overflow: visible;
	height: 1000px;
	background-origin: 
	/* Set rules to fill background */
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	*/
}


body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Light", Helvetica, Roboto, Arial, sans-serif;
	background: url(/images/index2.png) no-repeat center center;
	background-attachment: fixed;
	overflow: visible;
	height: 1000px;
	background-origin: 
	/* Set rules to fill background */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
a{
	transition: color 0.25s;
}
a:hover{
	color:rgb(56, 62, 63);
}
body{
	background-color:#84CD90;
}
hr{
	border-color: #04715f;
	border-bottom-width: 1px;
}
h1{
	color:#243341;
}
h2{
	color:#243341;
}
ul{
	padding-left:50px;	
}
li{
	padding-top: 2px;
	padding-bottom: 2px;
}

p {
	color: black;
	font-size: 20px;
}

b {
	font-size: 22px;
	color: orange;
}

.switchboard {
	color: orange;
	font-size: 24px;g
}

#container {
  position: relative;
  width: 1000px;
  height: 1000px;
}

#how-to-background {
  background: #CCC;
  filter: alpha(opacity=60);
  /* IE */
  -moz-opacity: 0.6;
  /* Mozilla */
  opacity: 0.6;
  /* CSS3 */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#how-to-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.test-background {
	background-color: rgba(255, 255, 255, .6);
}