.how-to-body {
	/*/background: url(/images/index2.png) no-repeat center center;
	background-attachment: fixed;
	overflow: visible;
	height: 1000px;
	background-origin: 
	/* Set rules to fill background */
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	*/
}


body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Light", Helvetica, Roboto, Arial, sans-serif;
	background: url(/images/index2.png) no-repeat center center;
	background-attachment: fixed;
	overflow: visible;
	height: 1000px;
	background-origin;
	/*Set rules to fill background*/
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;*/
	background-size: 275% 50%;
}
a{
	transition: color 0.25s;
}
a:hover{
	color:rgb(56, 62, 63);
}
body{
	background-color:#84CD90;
}
hr{
	border-color: #04715f;
	border-bottom-width: 1px;
}
h1{
	color:#243341;
}
h2{
	font-size:1.2em;
	color:white;
}
ul{
	padding-left:20px;	
}
li{
	padding-top: 2px;
	padding-bottom: 2px;
}

p {
	color: white;
	font-size: 0.9em;
	margin-top: 20px;
	margin-top: 30px;
}

b {
	font-size: 1.2em;
	color: rgb(243, 129, 95);
}

.switchboard {
	color: rgb(243, 129, 95);
	font-size: 1.4em;
}


.hashtags p{
	text-align: justify;
}
.main-text{
	padding-top:30px;
	text-align: justify;
}

.test-background {
	background-color: rgba(110, 136, 131, 0.51);
}