a{
	transition: color 0.25s;
}
a:hover{
	color:rgb(56, 62, 63);
}
::-webkit-input-placeholder {
   color: #ffff9d;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ffff9d;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ffff9d;  
}

:-ms-input-placeholder {  
   color: #ffff9d;  
}
hr{
	border-color: #04715f;
	border-bottom-width: 2px;
}
h2{
	color:#243341;
}
ul{
	padding-left:50px;	
}
li{
	padding-top: 10px;
	padding-bottom: 10px;
}
#main-div input{
	background-color: #fe8353;
	border:0px;
	color:#ffff9d;
	text-align: center;
}
#submit-button{
	background-color: #04715f;
	padding:30px 0px 30px 0px;
	color:white;
	text-align: center;
	font-size: 2em;
	transition: background-color 0.25s, color 0.25s;
	border-radius: 10px;
}
#submit-button:hover{
	background-color: #0C5649;
	color: rgb(56, 62, 63);
}

.credits{
	padding-top:35px;
	padding-bottom:35px;
	background-color: #04715f;
	
}
.credits h2{
	color:white;
}
.explain-div{
	color:#243341;
	background-color: #79bd8f;
	width:100%;
	padding:70px 15px 70px 15px;
	font-size:1.5em;

}
.example-text{
	color:#2B5A5E;
}

.sign-in{
	text-align: center;
	color: #ffff9d;
	font-size: 1.2em;
}
.quickSorta{
	color:#243341;
}

