/*Mobile only*/
@media only screen and (max-width: 40em) { 

	.text h2{
	color: white;
	font-size: 1em;
	text-align: center;
	padding:70px 15px 20px 15px;
	}

.index1 {
		background: url(/images/index1.png) no-repeat center center; 
		height: 300px;
		width: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.index2 {
		background: url(/images/index2.png) no-repeat center center; 
		height: 225px;
		width: cover;
		/* Set rules to fill background */
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}.index3 {
		background: url(/images/index3.png) no-repeat center center; 
		height: 175px;
		width: cover;
		/* Set rules to fill background */
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}.index4 {
		background: url(/images/index4.png) no-repeat 42.5% 50%; 
		height: 250px;
		width: cover;
		/* Set rules to fill background */
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}.index5 {
		background: url(/images/index5.png) no-repeat center center; 
		height: 50px;
		background-repeat:repeat-x;
		/*width: cover;*/
		/* Set rules to fill background */
/*		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;*/
		background-size: 100% 100%;
	}

	.divider {
		background: url(/images/divider.png) no-repeat center center; 
		height: 100px;
		width: 100%;
		/* Set rules to fill background */
		-webkit-background-size: auto;
		-moz-background-size: auto;
		-o-background-size: auto;
		background-size: auto;
	}

	.signup-row{
		height:200px;
	}


}
/*Non-Mobile*/
@media only screen and (min-width: 40.063em) { 
	.text{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.text h2{
	color: white;
	font-size: 1.8em;
	text-align: center;
	padding:70px 15px 20px 15px;
	}

	.index1 {
		background: url(/images/index1.png) no-repeat center center; 
		height: 620px;
		width: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.index2 {
		background: url(/images/index2.png) no-repeat center center; 
		height: 450px;
		width: cover;
		/* Set rules to fill background */
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}.index3 {
		background: url(/images/index3.png) no-repeat center center; 
		height: 350px;
		width: cover;
		/* Set rules to fill background */
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}.index4 {
		background: url(/images/index4.png) no-repeat center center; 
		height: 600px;
		width: cover;
		/* Set rules to fill background */
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}.index5 {
		background: url(/images/index5.png) no-repeat center center; 
		height: 100px;
		background-repeat:repeat-x;
		/*width: cover;*/
		/* Set rules to fill background */
/*		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;*/
		background-size: 50% 100%;
	}
	.divider {
		background: url(/images/divider.png); 
		height: 100px;
		width: 100px;
		/* Set rules to fill background */
		-webkit-background-size: auto;
		-moz-background-size: auto;
		-o-background-size: auto;
		background-size: auto;
	}
	.signup-row{
		height:350px;	
	}
}



a{
	transition: color 0.25s;
}
a:hover{
	color:rgb(56, 62, 63);
}
body{
	background-color:#84CD90;
}
hr{
	border-color: #04715f;
	border-bottom-width: 1px;
}
h1{
	color:#243341;
}
h2{
	color:#243341;
}
ul{
	padding-left:50px;	
}
li{
	padding-top: 10px;
	padding-bottom: 10px;
}


/*.credits{
	position: relative;
}*/
.explain-div{
	color:#243341;
	background-color: #79bd8f;
	width:100%;
	padding:70px 15px 70px 15px;
	

}
.example-text{
	color:#2B5A5E;
}

.sign-in{
	text-align: center;
	color: #ffff9d;
	font-size: 1.2em;
}
.signup-row{
	background-color: #68B87F;
}

/*.intro {
	font-family: "Helvetica-Light", "Helvetica Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}*/


/*.divider {
	display: block;
	margin-left: auto;
    margin-right: auto;
}*/

/*.index1 {
  background: url(/images/index1.png) no-repeat center center; 
  height: 100%;
  width: 100%;
   Set rules to fill background 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
