/*Mobile only*/
@media only screen and (max-width: 40em) { 

	#main-div{
		margin-top:0px;
		margin-bottom:px;
		border-radius:0px;
	}
	#main-div{
	
	}
	.explain-div{
		font-size:0.8em;

	}
	.top-description{
		margin: 20 0 0 0;
	}
	h1{
		font-size: 1.5em;
	}
	h2{
		font-size: 1.2em;
	}
	h3{
		font-size: 1em;
	}

}
/*Non-Mobile*/
@media only screen and (min-width: 40.063em) { 
	tbody{
		/*display:block;*/
		overflow-y: scroll;
		height:300px;
	}
	#main-div{
		border-radius:10px;
		margin-top:100px;
		margin-bottom:170px;
	}
	.explain-div{
		font-size:1.5em;
	}
	h1{
		font-size: 2.25em;
	}
	h2{
		font-size:1.5em;
	}
	h3{
		font-size:1em;
	}
	.top-description{
		margin: 100 0 0 0;
	}
}

body{
	background-color:#84CD90;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
a{
	color:white;
	/*font-family: 'Comic Sans MS';*/
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
h1{
	/*color: #5F2A1B;*/
	text-align: center;
	/*font-family: 'Comic Sans MS';*/
	font-weight: bold;
	
}
h2{
	font-family: "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;	
	text-align: center;
	
}
h3{
	text-align: center;
	
}
#main-div input{
	height:60px;
	font-size: 1.2em;
}
#header-div{
	margin-top:50px;
	margin-bottom:50px;
}
#main-div{
	/*margin-top:10px;*/
	background-color:#FE8353;;
	padding-top:15px;
	padding-bottom:15px;

}
#main-div .row{
	padding-top:5px;
	padding-bottom:5px;
}
.button-common{
	background-color: #04715f;
	padding:30px 0px 30px 0px;
	color:white;
	text-align: center;
	font-size: 2em;
	transition: background-color 0.25s, color 0.25s;
	border-radius: 10px;
}
.button-common:hover{
	background-color: #0C5649;
	color: rgb(56, 62, 63);
}
.credits{
	padding-top:20px;
	padding-bottom:20px;
	background-color: #04715f;
}
.credits h2{
	font-size: 1.1em;
	color:white;
}
.logo{
	text-align: center;
	color:white;
	font-size:2.5em;
	font-weight: bold;

}

.log-button{
	width:80px;
	height:50px;
	line-height: 50px;

	margin:auto;
	margin-top:12.5px;
	background-color: rgba(0,0,0,0);
	border-radius:15px;
	border:1px white solid;
	color: white;
	text-align: center;
	font-size:1.1em;
	transition:background-color 0.25s;
	/*width:100%;*/
	/*padding-right: 0px;*/
}
.log-button:hover{
	background-color:055145;
	/*color:rgb(56, 62, 63);*/
}
.middle-text{
	text-align: center;
}
.top-bar{
	color:white;
	font-size: 1em;
	background-color: #368679;
	height:75px;
	line-height:75px;

}
.top-bar a{
	color:#1B564C;
}

.top-bar a:hover {
	color:white;
	transition:color 0.25s;

}
.top-text{
	font-size:1em;
	color:white;
	display: inline-block;
	line-height: 75px;
	margin-top:0px;
}
.quickSorta{
	color:#243341;
}
.quickSorta:hover{
	color:rgb(56, 62, 63);
}
