/*Mobile only*/
@media only screen and (max-width: 40em) { 

	#main-div{
		border-radius:0px;
	}
}
/*Non-Mobile*/
@media only screen and (min-width: 40.063em) { 
	tbody{
		/*display:block;*/
		overflow-y: scroll;
		height:300px;
	}
	#main-div{
		border-radius:10px;
	}

}

body{
	background-color:#beeb9f;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
a{
	color:white;
	/*font-family: 'Comic Sans MS';*/
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
h1{
	/*color: #5F2A1B;*/
	text-align: center;
	/*font-family: 'Comic Sans MS';*/
	font-weight: bold;
	font-size:3.5em;
}
h2{
	color: #5F2A1B;
	text-align: center;
	/*font-family: 'Comic Sans MS';*/
	font-weight: bold;
	font-style: italic;
	font-variant: small-caps;
	font-size:1.5em;
}
h3{
	/*font-family: 'Comic Sans MS';*/
	text-align: center;
	font-size:1em;
}
#main-div input{
	height:60px;
	font-size: 1.2em;
}
#header-div{
	margin-top:50px;
	margin-bottom:50px;
}
#main-div{
	/*margin-top:10px;*/
	background-color:#ff6138;
	padding-top:15px;
	padding-bottom:15px;

}
#main-div .row{
	padding-top:5px;
	padding-bottom:5px;
}
.logo{
	color:white;
	font-size:2.5em;
	font-weight: bold;
}
.logout{
	transition:background-color 0.25s;
}
.top-bar{
	background-color: #79bd8f;
	height:75px;
	line-height:75px;

}
.top-text{
	font-size:1em;
	color:white;
	display: inline-block;
	line-height: 75px;
	margin-top:0px;
}