/*Mobile only*/
@media only screen and (max-width: 40em) { 

	#main-div{
		margin-top:0px;
		/*margin-bottom:px;*/
		border-radius:0px;
		height:80vh;
	}
	#main-div{
		font-size: 0.8em;
	}
	#main-div input{
		height:10vh;
	}
	.button-common{
		background-color: #C26A48;
		text-align: center;
		font-size: 1.5em;
		margin-top:15vh;
		height:10vh;
		line-height: 10vh;
		width:100vw;
		border-radius: 0px;
	}
	.button-common:hover{
		background-color:#A1583B;
	}
	.explain-div{
		font-size:0.8em;
	}
	.credits{
		padding-top:1.6vh;
		height:5vh;
		line-height: 2.5vh;
	}
	.credits h2{
		font-size: 0.8em;
		color:white;
	}
	.logo{
		font-size:1em;
	}
	.log-button{
		height:5vh;
		margin-top:2.5vh;
		line-height:5vh;
	}
	.top-bar{
		height:10vh;
	}
	.top-description{
		margin: 20 0 0 0;
	}
	h1{
		font-size: 1.5em;
	}
	h2{
		font-size: 1.2em;
	}
	h3{
		font-size: 1em;
	}
	

}
/*Non-Mobile*/
@media only screen and (min-width: 40.063em) { 
	tbody{
		/*display:block;*/
		overflow-y: scroll;
		height:300px;
	}
	#main-div{
		
		border-radius:10px;
		margin-top:100px;
		margin-bottom:170px;
	}

	#main-div input{
		height:60px;
		font-size: 1.2em;
	}
	.button-common{
		border-radius: 10px;
		padding:30px 0px 30px 0px;
		text-align: center;
		font-size: 2em;
		
		background-color: #04715f;

	}
	.button-common:hover{
		background-color: #0C5649;
		color: rgb(56, 62, 63);
	}
	.credits{
		height:10vh;
		padding-top:20px;
		padding-bottom:20px;
	}
	.credits h2{
		font-size: 1.1em;
		color:white;
	}
	.explain-div{
		font-size:1.5em;
	}
	.log-button{
		height:50px;
		margin:auto;
		margin-top:12.5px;
		line-height:50px;

	}
	.logo{
		font-size:2.5em;
	}
	h1{
		font-size: 2.25em;
	}
	h2{
		font-size:1.5em;
	}
	h3{
		font-size:1em;
	}
	.top-bar{
		line-height: 75px;
		height:75px;
	}
	.top-description{
		margin: 100 0 0 0;
	}
}

body{
	background-color:#84CD90;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
a{
	color:white;
	/*font-family: 'Comic Sans MS';*/
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
h1{
	/*color: #5F2A1B;*/
	text-align: center;
	/*font-family: 'Comic Sans MS';*/
	font-weight: bold;
	
}
h2{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Light", Helvetica, Roboto, Arial, sans-serif;	
	text-align: center;
	
}
h2 span{
	font-size: 1.3em;
}
h3{
	text-align: center;
	
}

#header-div{
	margin-top:50px;
	margin-bottom:50px;
}
#main-div{
	/*margin-top:10px;*/
	background-color:#FE8353;;
	padding-top:15px;
	padding-bottom:15px;

}
#main-div .row{
	padding-top:5px;
	padding-bottom:5px;
}
.button-common{
	color:white;
	
	transition: background-color 0.25s, color 0.25s;

}

.buffer{
	height:200px;
}

.credits{
	background-color: #2C2C2C;
}

.logo{
	text-align: center;
	color:white;
}

.log-button{
	width:80px;


	/*margin:auto;*/
	
	background-color: rgba(0,0,0,0);
	border-radius:15px;
	border:1px white solid;
	color: white;
	text-align: center;
	font-size:1.1em;
	transition:background-color 0.25s;
	/*width:100%;*/
	/*padding-right: 0px;*/
}
.log-button:hover{
	background-color:055145;
	/*color:rgb(56, 62, 63);*/
}
.middle-text{
	text-align: center;
}
.top-bar{
	color:white;
	font-size: 1em;
	background-color: #368679;
	/*height:75px;*/
	/*line-height:75px;*/

}
.top-bar a{
	color:#1B564C;
}

.top-bar a:hover {
	color:white;
	transition:color 0.25s;

}
.top-text{
	font-size:1em;
	color:white;
	display: inline-block;
	line-height: 75px;
	margin-top:0px;
}
.quickSorta{
	color:#243341;
}
.quickSorta:hover{
	color:rgb(56, 62, 63);
}
